/* basic formats */

* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

 /* header */
header {
  display: inline-block;
  top: 0;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 51, 44, .6);
  padding-top: 1rem;
  width: 100vw;
}
h2 {
  font-size: 2rem;
  padding: 1rem;
  font-family: 'Mallanna', sans-serif;
}
nav a {
  color: antiquewhite;
  text-shadow: 6px 6px 5px black;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 51, 44, .8);
  border: 2px solid rgba(0, 41, 44);
}
h1 {
  font-family: 'Averia Serif Libre', cursive;
}



/* content */

.content {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: .2rem;
  line-height: 2.4rem;
  background-color: rgba(0, 26, 102, .3);
  padding-bottom: 3rem;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
  width: 100%;
  transition: opacity 2s;
}
.profile-pic:hover {
  opacity: 1;
}
nav a:hover {
  background-color: rgba(0, 51, 44, .5);
}

/* footer */

.card{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
small, strong {
  font-style: oblique;
  font-variant: small-caps;
  display: inline-block;
  padding-bottom: .5rem;
}
strong {
  font-weight: 700;
}

/* queries */

/* === tablets === */

@media (min-width: 768px){
  header {
    display: inline-block;
    
  }
  nav a {
    display: block;
    float: left;
    width: 33.3%;
    padding: 3rem;
    font-size: 5rem;
  }
  h1 {
    font-size: 4rem;
    padding: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    padding: 1rem;
  }
}

/* === desktop === */

@media (min-width: 900px){
  .card {
    display: flex;
  }
  header {
    width: 32vw;
    height: 100vh;
  }
  .content{
    position: absolute;
    top: 0;
    right: 0;
    width: 66vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  nav a {
    width: 100%;
    border: none;
  }
  .profile-pic{
    width: 100%;
    height: 40vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  .picture {
    border-radius: 50%;
  }
  p {
    font-size: 2rem;
    padding: 2rem;
  }
   h1 {
    font-size: 3rem;
    padding: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
 }
